/* Reset básico */
body, h1, h2, p, ul, li, form, input, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #f0f0f0;
    line-height: 1.6;
}
  
header {
    text-align: center;
    padding: 20px;
    background-color: #3b5323;
}
  
.introduction, .projects, .skills, .contact {
    padding: 20px;
    text-align: center;
}
  
h2 {
    margin-bottom: 20px;
    color: #85bb65;
}
  
/* Galeria de projetos */
.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
}
  
.thumbnail {
    width: 150px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
  
.thumbnail:hover {
    transform: scale(1.1);
}
  
/* Contato */
form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
  
form input, form textarea, form button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}
  
form button {
    background-color: #3b5323;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* Faz o botão ocupar toda a largura disponível */
    box-sizing: border-box; /* Inclui padding no cálculo da largura */
}
  
form button:hover {
    background-color: #85bb65;
}
  
/* Responsividade */
@media (max-width: 768px) {
    .gallery {
        flex-direction: column;
        gap: 10px;
    }
}

/* Galeria de Imagens */
.image-gallery {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap; /* Permite que as imagens quebrem para a linha de baixo se houver mais de 3 */
}

.image-item {
    flex: 1;
    max-width: 30%; /* Controla o tamanho das imagens */
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.image-item img {
    width: 100%; /* Faz a imagem se ajustar ao tamanho do container */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-item:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .image-item {
        max-width: 100%; /* Para dispositivos móveis, as imagens ficam 100% do tamanho */
    }
}

/* Ajustando o tamanho da imagem dentro da thumbnail */
.thumbnail img {
    width: 100%; /* Faz a imagem se ajustar ao tamanho do container */
    max-width: 200px; /* Define um tamanho máximo para a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 8px; /* Se desejar bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra opcional */
}
